.row(cg-busy="accountPromise")
	.col-md-3
		nav.account-nav
			ul.list-unstyled
				li.row
					div.account-settings.col-md-3
						a.btn.btn-info.btn-block(ui-sref=".settings")
							i.fa.fa-cog
					div.col-md-9
						a.btn.btn-info.btn-block(ui-sref=".home" translate="ACCOUNT")
		.well.user-widget
			h3.text-primary: strong(ng-bind="user.username")
			hr
			div.icon-user-select
				icon-select.text-info(status="user.role")
				span.user-role(ng-bind-template="{{(user.role | role | uppercase) | translate}}")
			hr
			span
				time(ng-bind-template="{{'CREATED_AT' | translate}}: {{user.user_create_date | amDateFormat : 'DD MMM, YY'}} ")
			hr
			div.text-center
				a(ng-href="mailto:{{user.email}}"): i(ng-bind="user.email")
		a.btn.btn-danger.btn-block(ng-click="deleteUser(user.id)" translate="DELETE_ACCOUNT")
	ui-view
