.col-md-8.col-md-offset-2(cg-busy="postsPromise")
	.post
		img.img-responsive.img-rounded(ng-src="http://www.lifeofpix.com/wp-content/uploads/2016/07/Life-of-Pix-free-stock-landscape-eolian-mountains-JasonBlackeye-1440x960.jpeg", alt="")
		hr
		h3.text-center(ng-bind="post.name_post")
		hr
		time.text-info.visible-lg-block(ng-bind-template="{{post.date_post | amDateFormat : 'D MMMM, YYYY'}} ")
		div.posted-by
			span.text-muted(translate="POSTED_BY")
			a(ng-bind-template="@{{post.author_post}}" ui-sref="root.account.home({id: post.user_post.id})")
		ul.list-inline
			li
				a(ui-sref="^.edit" translate="EDIT")
			li
				a(ng-click="deletePost(post.id)" translate="DELETE")
		hr
		p(ng-bind="post.text_post")
		hr
		ul.list-inline
			li(ng-repeat="tag in post.tag.tagname | tagsToArray")
				a.label.label-info(ng-bind="tag")
		hr
	.post-comments
		h4.text-danger(ng-bind-template="{{'COMMENTS_TITLE' | translate}} ({{post.comment.length}})")
		.well
			form.write-comment-form(name="writeComment" ng-submit="postComment(comment)" novalidate)
				input.form-control.cstmry-form-input(type="text" placeholder=" {{'WRITE_TITLE_COMMENT' | translate}} " required name="title" ng-model="comment.title")
				div.error-box-form(ng-show="writeComment.title.$dirty && writeComment.title.$invalid" ng-messages="writeComment.$error")
					p.text-danger(ng-message="required" translate="WARNS.REQUIRED_MESS")
				textarea.form-control.cstmry-form-input(placeholder=" {{'WRITE_COMMENT' | translate}} " required name="text" ng-model="comment.text")
				div.error-box-form(ng-show="writeComment.text.$dirty && writeComment.text.$invalid" ng-messages="writeComment.$error")
					p.text-danger(ng-message="required" translate="WARNS.REQUIRED_MESS")
				button.btn.btn-success(translate="COMMENT" ng-disabled="writeComment.$invalid")
		.div(cg-busy="commentPromise")
			comment-list(comments="post.comment")

