@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,300');

body
	font-family 'Open Sans', sans-serif


.main-nav
	li
		text-transform uppercase

.main-header
	display flex
	justify-content space-between
	align-items center


.logo
	display flex
	flex-grow 0
	align-items center
	h2
		padding 6px 10px
		border 4px solid #57c7ed
		color #57c7ed
		border-left none
		margin 0 0 0 10px
		font-weight bold
		letter-spacing 3px
	&:hover
		text-decoration none
		h2
			background-color #57c7ed
			color #fff

.error-box-form
	padding-top 12px