.panel.panel-default
	.panel-body
		header
			.comment-data
				span(ng-bind="comment.author_comment")
				time.comment-time(am-time-ago="comment.date_comment | date")
		div(ng-switch on="editStatus")
			.comment-body(ng-switch-when="view")
				.comment-body-head
					h5.comment-title(ng-bind="comment.name_comment")
					ul.list-inline.comment-act
						li
							a.edit-icon.text-info(ng-click="editToggle(editStatus)" uib-tooltip="{{'EDIT' | translate}}")
								i.fa.fa-pencil-square-o
						li
							a.remove-icon.text-info(ng-click="removeComment(comment.id)" uib-tooltip="{{'DELETE' | translate}}")
								i.fa.fa-times
				p(ng-bind="comment.text_comment")
			.comment-body(ng-switch-when="edit")
				form.commentEditForm(name="commentEditForm" novalidate ng-submit="editComment(editCommentData, commentEditForm.$valid)")
					h5.text-muted(translate="EDIT")
					.form-group
						input.form-control(type="text" name="commentTitle" ng-model="editCommentData.title" placeholder="{{'WRITE_TITLE_COMMENT' | translate}}" required)
						div.error-box-form(ng-show="commentEditForm.commentTitle.$dirty && commentEditForm.commentTitle.$invalid" ng-messages="commentEditForm.$error")
							p.text-danger(ng-message="required" translate="WARNS.REQUIRED_MESS")
					.form-group
						textarea.form-control(type="text" name="commentText" ng-model="editCommentData.text" placeholder="{{'WRITE_COMMENT' | translate}}" required)
						div.error-box-form(ng-show="commentEditForm.commentText.$dirty && commentEditForm.commentText.$invalid" ng-messages="commentEditForm.$error")
							p.text-danger(ng-message="required" translate="WARNS.REQUIRED_MESS")
					button.btn.btn-success(translate="SAVE" ng-disabled="commentEditForm.$invalid")
					button.btn.btn-default(translate="CANCEL" ng-click="editToggle(editStatus)")