hr
h3.text-center.text-capitalize(translate="SIGN.SIGN_IN")
hr
ul.list-inline
	li: a(ng-href="{{socialUrl.vk}}"): i.fa.fa-vk
	li: a(ng-href="{{socialUrl.google}}"): i.fa.fa-google-plus
form(name="signInForm", novalidate, ng-submit="authUser(user, signInForm.$valid)")
	.form-group
		label(for="userName" translate="NAME")
		input(type="text" name="name" ng-model="user.name" id="userName" placeholder=" {{'NAME' | translate}} " required).form-control
		div.error-box-form(ng-show="signInForm.name.$dirty && signInForm.name.$invalid" ng-messages="signInForm.name.$error")
			p.text-danger(ng-message="required" translate="WARNS.REQUIRED_MESS")
			hr
	.form-group
		label(for="userPassword" translate="PASSWORD")
		input(type="password" name="password" ng-model="user.password" id="userPassword" placeholder=" {{'PASSWORD' | translate}} " required).form-control
		div.error-box-form(ng-show="signInForm.password.$dirty && signInForm.password.$invalid" ng-messages="signInForm.password.$error")
			p.text-danger(ng-message="required" translate="WARNS.REQUIRED_MESS")
	hr
	button.btn.btn-primary(ng-disabled="signInForm.$invalid" translate="SIGN.SIGN_IN")