ul.posts-list.list-group
	li.list-group-item.pre-post-list-group-item(ng-repeat="post in filteredPosts = (posts | filter : search | orderBy : options.orderKey : options.reverse | limitTo : options.limit)")
		div.panel.post-pre-panel
			.panel-heading
				.meta-data-panel
					div.auth-action(uib-dropdown)
						button.btn.btn-default(uib-dropdown-toggle)
							i.text-muted.fa.fa-angle-down
						ul(uib-dropdown-menu)
							li: a(translate="EDIT" ui-sref="root.post.edit({id: post.id})")
							li: a(translate="DELETE" ng-click="deletePost(post.id)")
					h4: a(ng-bind="post.name_post", ui-sref="root.post.view({id: post.id})")
				time.text-info(am-time-ago="post.date_post | date")
			.panel-body(ng-bind="post.text_post | truncate : 150")
			.panel-footer.pre-post-f-pannel
				div.upper-part-post-f-pannel
					span.author-post
						i.fa.fa-user.text-info
						a.text-info(ng-bind-template="@{{post.author_post}}" ui-sref="root.account.home({id: post.user_post.id})")
					ul.list-inline
						li(ng-repeat="tag in post.tag.tagname | tagsToArray")
							a.label.label-info(ng-bind="tag")
				div.bottom-part-post-f-pannel
					small.text-muted(ng-bind-template="{{post.comment.length}} {{'COMMENTS' | translate}} ")
div.list-unstyled(ng-if="!filteredPosts.length")
	p.text-center.lead(translate="POSTS_NOT_FOUND")