.row(cg-busy="accountPromise")
	.col-md-3
		.well.user-widget
			h3.text-primary: strong(ng-bind="user.username")
			hr
			div.icon-user-select
				icon-select.text-info(status="user.role")
				span.user-role(ng-bind="user.role | role")
			hr
			span
				time(ng-bind-template="Created at: {{user.user_create_date | date}} ")
			hr
			div.text-center
				a(ng-href="mailto:{{user.email}}"): i(ng-bind="user.email")
		div.account-settings
			a.btn.btn-primary(ui-sref=".settings")
				i.fa.fa-cog
	ui-view
