.row
	.col-md-3
		.well.user-widget
			h3.text-primary: strong(ng-bind="user.username")
			hr
			div.icon-user-select
				icon-select.text-info(status="user.role")
				span.user-role(ng-bind="user.role | role")
			hr
			span
				time(ng-bind-template="Created at: {{user.user_create_date | date}} ")
			hr
			div.text-center
				a(ng-href="mailto:{{user.email}}"): i(ng-bind="user.email")
	.col-md-6
		.well
			form.write-post-form(name="writePost" novalidate)
				input.form-control.post-title-wr(type="text" placeholder=" {{'WRITE_POST_TITLE' | translate}} " required ng-model="newPost.title" name="title")
				textarea.form-control(placeholder=" {{'WRITE_POST' | translate}} " required ng-model="newPost.text" name="text")
				.form-main-act
					ul.widgt-adds
						li
							label(for="post-photo").wdgt-post-photo-btn: i.fa.fa-camera.fa-lg.text-info
							input#post-photo.wdgt-post-photo-inpt(type="file")
					button.btn.btn-success(translate="POST" ng-disabled="writePost.$invalid")
				div.error-box-form(ng-show="writePost.title.$dirty && writePost.text.$invalid" ng-messages="writePost.$error")
					p.text-danger(ng-message="required" translate="WARNS.REQUIRED_MESS")
		post-list(list="user.posts")
	.col-md-3
		.well
			h4 Filter
			hr
		section.well.acc-users-list(cg-busy="usersPromise")
			h4 Users
			hr
			user-list(list="users")
