.container
	header.main-header.page-header
		a.logo(href='', ui-sref='root.home')
			img(src='/images/airplane.svg', alt='')
			h2 AirBlog
		ul.list-inline(translate-namespace="SIGN")
			li
				a.btn.btn-info(href='', ui-sref='root.signIn', translate=".SIGN_IN")
			li
				a.btn.btn-info(href='', ui-sref='root.signUp', translate=".SIGN_UP")
	hr
	nav.main-nav
		ul.nav.nav-pills(translate-namespace="NAVIGATION")
			li(ui-sref-active="active")
				a(href='', ui-sref='root.home', translate=".HOME")
			li(ui-sref-active="active")
				a(href='', ui-sref='root.users', translate=".USERS")
			li(ui-sref-active="active")
				a(href='', ui-sref='root.posts', translate=".POSTS")
			li(ui-sref-active="active")
				a(href='', ui-sref='root.map', translate=".GOOGLE_MAP")
		select.form-control.lang-swtch(ng-options="lang for lang in langs", ng-model="activeLang" ng-change="updateLang(activeLang)")
	hr
.container
	ui-view
.container
	footer
		hr