.row
	div.col-md-7(cg-busy="postsPromise")
		h3(translate="RECENT_POST")
		hr
		post-list(list="posts")

	div.col-md-4.col-md-offset-1(cg-busy="usersPromise")
		h3(translate="USERS")
		hr
		user-list(list="users")
