ul.posts-list.list-group
	li.list-group-item.pre-post-list-group-item(ng-repeat="post in posts | limitTo : 5")
		div.panel.post-pre-panel
			.panel-heading
				h4: a(ng-bind="post.title", ui-sref="post({id: post._id})")
				span.text-info(ng-bind="post.created | date")
			.panel-body(ng-bind="post.text | truncate : 150")
			.panel-footer.pre-post-f-pannel
				span.author-post
					i.fa.fa-user.text-info
					a.text-info(ng-bind-template="@{{post.author}}")
				ul.list-inline
					//- ng-repeat="tag in post.tags"
					li(ng-repeat="tag in ['awesome', 'post', 'detail'] ")
						a.label.label-info(ng-bind="tag")