.row
	.col-md-3
		.well
			h4(translate="SEARCH")
			hr
			div.filter-field
				.form-group
					label(for="globSearch" translate="FILTER.GLOBAL_SEARCH")
					input.form-control#globSearch(type="text" ng-model="search.title" placeholder="{{'FILTER.GLOBAL_SEARCH' | translate}}")
				.form-group
					label(for="searchTag" translate="FILTER.FILTER_TAG_LABEL")
					input.form-control#searchTag(type="text" ng-model="tags" placeholder="{{'FILTER.FILTER_TAG' | translate}}")
	.col-md-8.col-md-offset-1
		post-list(list="posts" search="search")