.col-md-8.col-md-offset-2
	.post
		img.img-responsive.img-rounded(ng-src="http://www.lifeofpix.com/wp-content/uploads/2016/07/Life-of-Pix-free-stock-landscape-eolian-mountains-JasonBlackeye-1440x960.jpeg", alt="")
		hr
		h3.text-center(ng-bind="post.title")
		hr
		span.text-info.visible-lg-block(ng-bind="post.created | date")
		span.text-muted Posted by 
			a(ng-bind-template="@{{post.author}}" ui-sref="account({id: post.author.id})")
		hr
		p(ng-bind="post.text")
		hr
		ul.list-inline
			//- ng-repeat="tag in post.tags"
			li(ng-repeat="tag in ['awesome', 'post', 'detail'] ")
				a.label.label-info(ng-bind="tag")

