ul.posts-list.list-group(cg-busy="postsPromise")
	li.list-group-item.pre-post-list-group-item(ng-repeat="post in filteredPosts = (posts | filter : search | limitTo : 5 | orderBy : 'created' : true)")
		div.panel.post-pre-panel
			.panel-heading
				h4: a(ng-bind="post.name_post", ui-sref="root.post({id: post.id})")
				span.text-info(ng-bind="post.date_post | date")
			.panel-body(ng-bind="post.text_post | truncate : 150")
			.panel-footer.pre-post-f-pannel
				span.author-post
					i.fa.fa-user.text-info
					a.text-info(ng-bind-template="@{{post.author_post}}")
				ul.list-inline
					li(ng-repeat="tag in post.tag.tagname | tagsToArray")
						a.label.label-info(ng-bind="tag")
div.list-unstyled(ng-if="!filteredPosts.length")
	p.text-center.lead(translate="POSTS_NOT_FOUND")