.col-md-8.col-md-offset-2
	.post
		img.img-responsive.img-rounded(ng-src="http://www.lifeofpix.com/wp-content/uploads/2016/07/Life-of-Pix-free-stock-landscape-eolian-mountains-JasonBlackeye-1440x960.jpeg", alt="")
		hr
		h3.text-center(ng-bind="post.name_post")
		hr
		time.text-info.visible-lg-block(ng-bind="post.date_post | date")
		div.posted-by
			span.text-muted(translate="POSTED_BY")
			a(ng-bind-template="@{{post.author_post}}" ui-sref="root.account({id: post.user_post.id})")
		hr
		p(ng-bind="post.text_post")
		hr
		ul.list-inline
			li(ng-repeat="tag in post.tag.tagname | tagsToArray")
				a.label.label-info(ng-bind="tag")
		hr
	.post-comments
		h4.text-danger(ng-bind-template="{{'COMMENTS_TITLE' | translate}} ({{post.comment.length}})")
		.well
			form.write-comment-form(name="write-comment" novalidate)
				input.form-control.title-comment-frm(type="text" placeholder=" {{'WRITE_TITLE_COMMENT' | translate}} " required name="comment.title")
				textarea.form-control(placeholder=" {{'WRITE_COMMENT' | translate}} " required name="comment.text")
				button.btn.btn-success(translate="COMMENT")
		comment-list(comments="post.comment")

