ul.users-list.list-group
	li.list-group-item.user-list-group-item(ng-repeat="user in users | limitTo : 5")
		article.panel.panel-default.user-item-panel
			div.panel-heading(ng-bind-template="Role - {{user.role}}")
			div.panel-body.user-item-panel-body
				a(ng-bind="user.name" ui-sref="account({id: user._id})")
				a(ng-bind="user.email" ng-href="mailto:{{user.email}}")