.row
	.col-md-3
		.well
			h4(translate="SEARCH")
			hr
			div.filter-field
				.form-group
					input.form-control(type="text" ng-model="search.user_name" placeholder="{{'FILTER.FILTER_USER_NAME' | translate}}")
				a.btn.btn-block.btn-primary(ng-class="{ 'active': !userOptions.reverse }" ng-click="setReverse(userOptions.reverse)") Reverse
	.col-md-8.col-md-offset-1(cg-busy="usersPromise")
		user-list(list="users" search="search" options="userOptions")
		.pagin-wrapp
			ul(uib-pagination total-items="totalItems" ng-model="paginationSettings.currentPage" items-per-page="paginationSettings.perPage" ng-change="paginationSettings.paginationChange()")