.row
	.col-md-3
		.well
			h4(translate="SEARCH")
			hr
			div.filter-field
				.form-group
					input.form-control(type="text" ng-model="search.username" placeholder="{{'FILTER.FILTER_USER_NAME' | translate}}")
				a.btn.btn-block.btn-primary(ng-class="{ 'active': !reverse }" ng-click="setReverse(reverse)") Reverse
	.col-md-8.col-md-offset-1(cg-busy="usersPromise")
		user-list(list="users" search="search" reverse="reverse")