div.table-responsive(cg-busy="usersPromise")
  table.table.table-striped
    thead
      tr
        td #
        td Name
        td Role
        td Status
        td Created at
    tbody
      tr(ng-repeat="user in users")
        td(ng-bind="$index")
        td(ng-bind="user.user_name")
        td(ng-bind="user.user_role | role")
        td(ng-bind="user.user_active")
        td(ng-bind="user.user_create_date | amDateFormat : 'D MMMM, YYYY'")
        td.text-right
          ul.list-inline
            li
              button.btn.btn-info
                i.fa.fa-edit
            li
              button.btn.btn-danger(ng-click="deleteUser(user.id)")
                i.fa.fa-times
